<h1>Leaderboard</h1>

<div class="table-responsive">
  <table class="table">
    <tr>
      <th>Show Title</th>
      <th>Average Score</th>
      <th>Review Count</th>
    </tr>

    <% @shows.each do |show| %>
        <% cache show do %>
            <tr>
              <td><%= show.title %></td>
              <td><%= show.average_score %></td>
              <td><%= show.reviews_count %></td>
            </tr>
        <% end %>
    <% end %>
  </table>
</div>
